footer.footer 
	.footer__container
		.page__touch.touch
			.touch__telephone
				p.main__actions-telephone.info__telephone.touch._contacts=footerInfo[0]
			.touch__address.main__actions
				p.main__actions-street.touch=footerInfo[1]
				p.main__actions-street.touch=footerInfo[2]
			.touch__title-wrapper
				h1.touch__head-title.main__titles._big-title ми на 
					span.title__icon-touch t 
				h1.touch__head-title.main__titles._big-title зв’язку
				.touch__images-wrapper
					img.touch__img(src="@img/touch/01.jpg", alt="img")
				.main__info-button.touch.button._big
					p.yellow__button обрати номер
					+buttonBig()
			.check__list-wrapper
				p.actions__art._services.touch find a room 
				ul.check__list.touch
					li.check-link.check-date.check-in.get_date-popup.touch(get_popup="#popup-in")
						p дата поселення
						img(src="@img/icons/arow_ellow.svg", alt="arow")
					li.check-link.check-date.check-out.get_date-popup.touch(get_popup="#popup-in")
						p дата виїзду
						img(src="@img/icons/arow_ellow.svg", alt="arow")
					li.check-link.check-rooms.touch.menu__link(data-goto="._rooms_scroll")
						p.menu__link(data-goto="._rooms_scroll") обрати номер

		.page__about.touch._contacts_scroll
			.touch__footer
				.about__footer-column.about__footer
					.column__content-wrapper
						.about__footer-title
							h4.actions__art._services
								span /
								=footerNameCat[0]
						p.text.text-dark. 
							The five-star hotel in a beautiful European city with a modern
							restaurant, conference-hall, and art-bar.
					.footer__touch-reserved
						p 
							a ©2021 All rights reserved.BankHotel
				.about__footer-column.new__footer
					.column__content-wrapper
						.about__footer-title
							h4.actions__art._services
								span /
								=footerNameCat[1]
						p.text.text-dark. 
							The five-star hotel in a beautiful European city with a
							modern restaurant, conference-hall, and art-bar.
					form.footer__email-wrapper#form__email(action="", method="post")
						input.email__input.req._email(type="text", name="email" placeholder="EMAIL")
						button.email__submit(type="submit", name="sab__email")
				.about__footer-column.socials__footer
					.about__footer-title
						h4.actions__art._services
							span /
							=footerNameCat[2]
					ul 
						li 
							a(href="", target="_blank") 
								p Facebook
						li 
							a(href="", target="_blank") 
								p Instagram
						li 
							a(href="", target="_blank") 
								p twitter
				.footer__touch-reserved.hidden
					p 
						a ©2021 All rights reserved.BankHotel