footer.footer
	.footer__container 
		//- .footer__block-wrapper 
		.footer__about.footer__blocks
			.footer__logo
				img(src="@img/logo.png", alt="footer-logo")
				//- img(src="@img/logo.png", alt="logo", srcset="")
			.footer__about-text. 
				Worldwide furniture store since 2020. We sell over 1000+ branded products on our website
			.footer__about-address-wrapper
				.icon
				.address Sawojajar Malang, Indonesia
			.footer__about-phone-wrapper
				.icon
				.phone +6289 456 3455
			.footer__about-site www.funiro.com
		.footer__info.footer__blocks
			.footer__info-wrapper
				.footer__info-menu 
					p.footer__info-menu-title.footer__titles Menu
					.header__menu.footer__menu 
						.menu__body 
							+menu()(class='menu__list')
				.footer__info-account 
					p.footer__info-account-title.footer__titles Account
					ul.footer__list
						li
							a(href="#").footer__link My Account
						li
							a(href="#").footer__link Checkout
						li
							a(href="#").footer__link My Cart
						li
							a(href="#").footer__link My catalog
				.footer__info-connected(data-da=".footer__info, 385, last")
					p.footer__info-connected-title.footer__titles Stay Connected
					ul.footer__list 
						li
							a(href="https://www.facebook.com/viknavdim.nizhyn", target="_blank").footer__link Facebook
						li
							a(href="https://www.instagram.com/viknavdim/", target="_blank").footer__link Instagram
						li
							a(href="#").footer__link Twitter
		.footer__male.footer__blocks(data-da=".footer__info, 1024, 0")
			p.footer__male-title.footer__titles Stay Updated
			form.footer__male-form#form__email(action="", method="post") 
				.footer__male-send-wrapper
					input.req._email(type="text", name="email" placeholder="Enter your email")
				button.footer__male-send-button(type="submit", name="sab__email")
					img(src="@img/icons/send.svg", alt="send")
		#btn-home
			a(href="#top")
			.btn-top-wrapper.lock__padding
				.top-btn.menu__link(data-goto=".header")
					.top-arrow.menu__link(data-goto=".header")