include ../components/mixins/mixins.pug
include ../components/vars/vars.pug


//- //- ========================== CALENDAR ====================
//- -
//- 	let calendarHours = [
//- 		'8:00',
//- 		'9:00',
//- 		'10:00',
//- 		'11:00',
//- 		'12:00',
//- 		'13:00',
//- 		'14:00',
//- 		'15:00',
//- 		'16:00',
//- 		'17:00',
//- 		'18:00',
//- 		'19:00',
//- 		'20:00',
//- 		'21:00',
//- 		'22:00'
//- 	]
//- //- ========================== BANNER ==================================
//- - headerInfo = ["0123456789", "вул. Готельна 1, м. Ніжин"]
//- - footerInfo = ["0123456789", "вул. Готельна 1,", "м. Ніжин"]
//- - footerNameCat = ["about us", "new", "socials"]
//- - socialName = ["Facebook", "Instagram", "Twitter"]
//- - socialLink = ["#", "#", "#"]
//- - socialClass = ["_fb", "_in", "_tw"]

//- //- ===========================================================================
//- //- ========================== SWIPER ROOMS ===================================
//- -
//- 	let swiperRoomsTitle = [
//- 		"Покращений <br> двомісний номер",
//- 		"Покращений <br> одномісний номер",
//- 		"Якийсь <br> крутезний номер",
//- 		"Стандартний <br> двомісний номер",
//- 		"Стандартний <br> одномісний номер",
//- 		"Люкс <br> двомісний",
//- 		"Люкс <br> одномісний",
//- 		"Президентський <br> номер"
//- 	]
//- -
//- 	let swiperRoomsText = [
//- 		"Покращений двомісний ідеально підходить для тих, хто планує залишитися надовго. Простора та світла кімната обставлена ​​розкішними італійськими меблями та має прекрасний вид на історичну частину міста. Стильний дизайн інтер'єру та зручні ліжка зроблять Ваш відпочинок затишним та приємним",
//- 		"Покращений крутезний номер ідеально підходить для тих, хто планує залишитися надовго. Простора та світла кімната обставлена ​​розкішними італійськими меблями та має прекрасний вид на історичну частину міста. Стильний дизайн інтер'єру та зручні ліжка зроблять Ваш відпочинок затишним та приємним",
//- 		"Якийсь двомісний ідеально підходить для тих, хто планує залишитися надовго. Простора та світла кімната обставлена ​​розкішними італійськими меблями та має прекрасний вид на історичну частину міста. Стильний дизайн інтер'єру та зручні ліжка зроблять Ваш відпочинок затишним та приємним",
//- 		"Стандартний двомісний ідеально підходить для тих, хто планує залишитися надовго. Простора та світла кімната обставлена ​​розкішними італійськими меблями та має прекрасний вид на історичну частину міста. Стильний дизайн інтер'єру та зручні ліжка зроблять Ваш відпочинок затишним та приємним",
//- 		"Стандартний одномісний ідеально підходить для тих, хто планує залишитися надовго. Простора та світла кімната обставлена ​​розкішними італійськими меблями та має прекрасний вид на історичну частину міста. Стильний дизайн інтер'єру та зручні ліжка зроблять Ваш відпочинок затишним та приємним",
//- 		"Люкс двомісний ідеально підходить для тих, хто планує залишитися надовго. Простора та світла кімната обставлена ​​розкішними італійськими меблями та має прекрасний вид на історичну частину міста. Стильний дизайн інтер'єру та зручні ліжка зроблять Ваш відпочинок затишним та приємним",
//- 		"Люкс одномісний ідеально підходить для тих, хто планує залишитися надовго. Простора та світла кімната обставлена ​​розкішними італійськими меблями та має прекрасний вид на історичну частину міста. Стильний дизайн інтер'єру та зручні ліжка зроблять Ваш відпочинок затишним та приємним",
//- 		"Президентський номер ідеально підходить для тих, хто планує залишитися надовго. Простора та світла кімната обставлена ​​розкішними італійськими меблями та має прекрасний вид на історичну частину міста. Стильний дизайн інтер'єру та зручні ліжка зроблять Ваш відпочинок затишним та приємним"
//- 	];
//- //- ===========================================================================
//- //- ================================= SERVICES CARD ===========================
//- -
//- 	let servicesNumber = ['01', '02', '03'];
//- -
//- 	let servicesTitleFirstHidden = ['Ice', 'conference', 'Wine bar'];
//- -
//- 	let servicesTitleSecondHidden = ['restaurant', 'hall', '“reserve”'];
//- -
//- 	let servicesTitleOllShow = ['Ice restaurant', 'conference hall', 'Wine bar “reserve”'];
//- -
//- 	let servicesText = [
//- 		'The hotel’s exclusive infrastructure is complemented by the unique atmosphere of the Safe Restaurant. Author’s menu, extensive wine card, and live music will set you for the correct mood.',
//- 		'The hotel’s exclusive infrastructure is complemented by the unique atmosphere of the Safe Restaurant. Author’s menu, extensive wine card, and live music will set you for the correct mood.',
//- 		'The hotel’s exclusive infrastructure is complemented by the unique atmosphere of the Safe Restaurant. Author’s menu, extensive wine card, and live music will set you for the correct mood.'
//- 		];
//- -
//- 	let servicesImg = [
//- 		"@img/services/restaurant/01.jpg",
//- 		"@img//services/restaurant/02.jpg",
//- 		"@img//services/restaurant/03.jpg"
//- 		];
//- -
//- 	let servicesBigImg = [
//- 		"@img/services/restaurant/01_big.jpg",
//- 		"@img//services/restaurant/02_big.jpg",
//- 		"@img//services/restaurant/03_big.jpg"
//- 		];
//- //- ===========================================================================
//- //- ============================ FOOTER TEXT =================================
//- -
//- 	let footerText = "Reikartz hotel hotel Reikartz hotel Reikartz hotel Reikartz hotel Reikartz hotel Reikartz hotel Reikartz hotel Reikartz hotel Reikartz hotel Reikartz hotel Reikartz hotel Reikartz hotel Reikartz hotel"
//- //- ===========================================================================

main.page
	section.page__main.main 
		.main__container 
			.main__content
				.main__title
					h1.main__hotel-title Reikartz 
					ul.main__tags-list
						li.tags__link 
							a(href="") кімнати//
						li.tags__link 
							a(href="") ресторан//
						li.tags__link 
							a(href="") конференс зал//
						li.tags__link 
							a(href="") винний бар
				.main__info 
					.main__info-date 
						span.date__hotel 
							img(src="@img/icons/Star_ellow.svg", alt="star")
							p з 2023 року
						.main__info-button.button._small
							+buttonSmall()
					p.text__hotel.text. 
						Розкішний готель у незламному Українському місті з
						ексклюзивним рестораном, конференц-залом та арт-баром.
			.main__img-wrapper 
				.main__images 
					img.main__img-room._img(src="@img/banner/01.jpg", alt="room")
					img.main__img-room._img._hide(src="@img/banner/01_1.jpg", alt="room")
					ul.check__list.banner 
						li.check-link.check-date.check-in.get_date-popup(get_popup="#popup-in")
							p дата поселення
							img(src="@img/icons/arow_ellow.svg", alt="arow")
						li.check-link.check-date.check-out.get_date-popup(get_popup="#popup-in")
							p дата виїзду
							img(src="@img/icons/arow_ellow.svg", alt="arow")
						li.check-link.check-rooms.menu__link(data-goto="._rooms_scroll")
							p.menu__link(data-goto="._rooms_scroll") обрати номер

				.main__info-button.button._big
					p.yellow__button обрати номер
					+buttonBig()
			.main__actions 
				span.actions__column-first
					p.main__actions-telephone.info__telephone=headerInfo[0]
					p.main__actions-street=headerInfo[1]
				span.actions__column-second
					p.actions__art Art & Congress
					p.actions__art hall
	section.page__about.about._about_scroll
		.about__contain-padding.about__container
			.about__column-1
				.about__images._big._pc
					img.about__img._pc(src="@img/reception/1 (2).jpg", alt="reception")
				.about__content._pc
					.content__title-wrapper(data-da=".about__column-1, 767, 0")
						h1.about__content-title.main__titles._about про
						h1.about__content-title.main__titles._us нас
					h3.about__content-sub-title.main__sub-titles висока якість
					.about__text-wrapper
						p.about__content-text.text._stamp-place. 
							У 2023 році готель Reikartz нарешті
							відкрився для відвідувачів. Будівля була відремонтована та модернізована, щоб
							задовольнити очікування найвибагливіших гостей. Ми пропонуємо розкішні номери,
							численні зручності та винятковий сервіс.
			.about__column-2
				.about__images._small
					.about__stamp.stamp.stamp-img(data-da="._stamp-place, 767, 1")
						.circular premium rooms. Reikartz hotel
						img.stamp__rotate(src="@img/icons/icon.svg", alt="icon_stamp")
					img.about__img._small(src="@img/reception/2.jpg", alt="reception",)
				.main__info-button.button._big
					div
						h4 номери
						p.transparent__button та
						p.transparent__button апартаменти
					+buttonBig()
	section.page__rooms.rooms
		.rooms__container
			.rooms__page-content
				.rooms__page-title-title._rooms_scroll
					h1.rooms__content-title.main__titles._rooms кімнати & <br> апартаменти
				.rooms__page-title-text
					p.rooms__content-text.text.big-text. 
						Всі оздоблення кімнат виконані екологічно сертифікованими та безпечними матеріалами.
			.rooms__swiper
				.rooms__slider.swiper-container
					.swiper-wrapper
						+createSlideSwiperRooms(0)
						+createSlideSwiperRooms(1)
						+createSlideSwiperRooms(2)
						+createSlideSwiperRooms(3)
						+createSlideSwiperRooms(4)
						+createSlideSwiperRooms(5)
						+createSlideSwiperRooms(6)
						+createSlideSwiperRooms(7)
					.swiper-button-prev
					.swiper-button-next
					.swiper-pagination
	section.page__services.services
		.services__container
			.services__head-wrapper
				.head__column-1
					span.actions__column-second._services
						p.actions__art._services Art & Congress 
						p.actions__art._services hall
					.services__head-images
						img.services__img(src="@img/services/01_head.jpg", alt="services")
						.services__stamp.stamp.stamp-content
							.circular premium rooms. Reikartz hotel
				.head__column-2 
					h1.services__head-title.main__titles._services Our <br> faci <br>
						.title__icon
							h1.services__head-title.main__titles._services._hidden 
								span fai 
						span lities
					.services__head-images
						img.services__img(src="@img/services/01_head.jpg", alt="services")
						.services__stamp.stamp.stamp-content
							.circular premium rooms. Reikartz hotel 
					.head__text-wrapper
						p.services__head-text.text.text-dark. 
							Bank Hotel offers you a wide range of
							additional services and facilities. Visit our restaurant to try exclusive meals,
							book a conference hall to organize a business meeting, or relax in the art-bar.
				.head__column-3
					.services__head-images
						img.services__img(src="@img/services/02_head.jpg", alt="services")
						.services__stamp.stamp
							.circular premium rooms. Reikartz hotel
			.services__content-wrapper._conference_scroll
				+createServices(0)
				+createServices(1)
				+createServices(2)
	section.page__best.best
		.best__images
			img.best__img._show(src="@img/best_room/01_big.jpg", alt="best_apartments")
			img.best__img._hidden(src="@img/best_room/01_small.jpg", alt="best_apartments")
		.best__sinus-wrapper
			img.best__sinus(src="@img/icons/sinus.svg", alt="sinus")
		.best__container
			h1.best__head-title.main__titles._services Best <br> apartments
			.best__text-wrapper
				p.best__content-text.text.big-text All room decoration was made with ecological certified and safe materials.
	section.page__gallery.gallery
		.gallery__container
			.gallery__head-wrapper
				p.actions__art._gallery Art & Congress <br> hall
				.galleery__title-wrapper
					.about__stamp.stamp.stamp-content._gallery
						.circular premium rooms. Reikartz hotel
						img.stamp__rotate(src="@img/icons/icon.svg", alt="icon_stamp")
					h1.gallery__hed-title.main__titles our Gallery
		.gallery__content-wrapper
			.gallery__content-text
				.gallery__text-wrapper 
					p.gallery__text.text. 
						Explore our spacious rooms with the gorgeous view to the
						historical part of the city. Each room has an exclusive interior design decorated with
						modern art pieces that will make your stay unforgettable.
				.gallery__text.text__bottom-wrapper
					.main__info-button.button._small.extra__small
						+buttonSmall()
					p.gallery__text.text.text__xl It is our pleasure to meet your most unrealistic expectations.
			.images__container
				.gallery__images-wrapper
					.gallery__image-wrapper.image-1(data-move="move-1", style="top: 0%; left: 0%; right: auto; bottom: auto;")
						img.img-1(src="@img/gallery/01.jpg", alt="gallery-img")
					.gallery__image-wrapper.image-2(data-move="move-2", style="top: 0%; left: 83.5%; right: auto; bottom: auto;")
						img.img-2(src="@img/gallery/02.jpg", alt="gallery-img")
					.gallery__image-wrapper.image-4(data-move="move-4", style="top: 62%; left: 1.8%; right: auto; bottom: auto;")
						img.img-4(src="@img/gallery/04.jpg", alt="gallery-img")
					.gallery__image-wrapper.image-5(data-move="move-5", style="top: 100%; left: 75.2%; right: auto; bottom: auto;")
						img.img-5(src="@img/gallery/05.jpg", alt="gallery-img")
					.gallery__image-wrapper.image-3._active(data-move="move-3", style="top: 53%; left: 85%; right: auto; bottom: auto;")
						img.img-3(src="@img/gallery/03.jpg", alt="gallery-img")
		.gallery__footer.gallery-footer__container
			h3.hotel__name Reikartz hotel
				span.hotel__name-center
					h3 Reikartz__hotel&copy
				=footerText
include ./footer.pug
include ../components/pug/popup.pug
#btn-home 
	a(href="#top")
		.btn-top-wrapper.lock__padding
			.top-btn.menu__link(data-goto=".header")
				.top-arrow.menu__link(data-goto=".header")
//- .popup.none__class#popup-in 
//- 	.popup__body
//- 		.popup__content
//- 			.calendar 
//- 				.calendar-body 
//- 					.calendar-body-wrapper._move-close__button
//- 						.calendar-week-title.calendar-title
//- 							h3 обрати дату
//- 						.calendar-header 
//- 							span.month-picker#month-picker Березень
//- 							.year-picker#year-picker 
//- 								span.year-change#pre-year 
//- 									pre <
//- 								span#year 2023
//- 								span.year-change#next-year 
//- 									pre > 
//- 						.calendar-week-days
//- 							div пон
//- 							div вів
//- 							div сер
//- 							div чет
//- 							div птн
//- 							div пнх
//- 							div нед
//- 						.calendar-days
//- 					.calendar-hours-wrapper.show
//- 						.close__btn.close-popup(data-da='._move-close__button, 820, 0')
//- 							.close__btn-icon 
//- 								span 
//- 								span 
//- 							span close
//- 						.calendar-hours-title.calendar-title
//- 							h3 обрати годину
//- 						.days-hours 
//- 							div=calendarHours[0]
//- 							div=calendarHours[1]
//- 							div=calendarHours[2]
//- 							div=calendarHours[3]
//- 							div=calendarHours[4]
//- 							div=calendarHours[5]
//- 							div=calendarHours[6]
//- 							div=calendarHours[7]
//- 							div=calendarHours[8]
//- 							div=calendarHours[9]
//- 							div=calendarHours[10]
//- 							div=calendarHours[11]
//- 							div=calendarHours[12]
//- 							div=calendarHours[13]
//- 							div=calendarHours[14]
//- 				.calendar-footer 
//- 				.date-time-formate 
//- 					.day-text-formate СЬОГОДНІ
//- 					.date-time-value 
//- 						.time-formate 15:50:20
//- 						.date-formate 24 - 03 - 2023
//- 					.show_checked-date
//- 				.month-list
//- .popup.none__class#popup-message
//- 	.popup__body
//- 		.popup__content
//- 			.close__btn.close-popup
//- 				.close__btn-icon 
//- 					span 
//- 					span 
//- 			h3 Будьте ласкаві, оберіть дати <br> заселення та виселення
//- 			p Прогляньте наші номери<br>та оберіть той який підходитиме саме Вам
//- #btn-home 
//- 	a(href="#top")
//- 		.btn-top-wrapper.lock__padding
//- 			.top-btn.menu__link(data-goto=".header")
//- 				.top-arrow.menu__link(data-goto=".header")





