include ../components/mixins/mixins.pug
//- include ../components/mixins/mixins.pug
include ../components/vars/vars.pug


main.page 
	+createRoomPage(1)
	include ./footer.pug
	include ../components/pug/popup.pug
	#btn-home 
		a(href="#top")
			.btn-top-wrapper.lock__padding
				.top-btn.menu__link(data-goto=".header")
					.top-arrow.menu__link(data-goto=".header")