include ../components/mixins/mixins.pug
//- include ../components/mixins/mixins.pug
include ../components/vars/vars.pug


main.page 
	+createRoomPage(0)
	include ./footer.pug
	include ../components/pug/popup.pug