
//- ========================== CALENDAR ====================
-
	let calendarHours = [
		'8:00',
		'9:00',
		'10:00',
		'11:00',
		'12:00',
		'13:00',
		'14:00',
		'15:00',
		'16:00',
		'17:00',
		'18:00',
		'19:00',
		'20:00',
		'21:00',
		'22:00'
	]
//- ========================== BANNER ==================================
- headerInfo = ["0123456789", "вул. Готельна 1, м. Ніжин"]
- footerInfo = ["0123456789", "вул. Готельна 1,", "м. Ніжин"]
- footerNameCat = ["about us", "new", "socials"]
- socialName = ["Facebook", "Instagram", "Twitter"]
- socialLink = ["#", "#", "#"]
- socialClass = ["_fb", "_in", "_tw"]

//- ===========================================================================
//- ========================== SWIPER ROOMS ===================================
-
	let swiperRoomsImgSmall = [
		"@img/rooms/rooms_small-1.jpg",
		"@img/rooms/rooms_small-1.jpg",
		"@img/rooms/rooms_small-1.jpg",
		"@img/rooms/rooms_small-1.jpg",
		"@img/rooms/rooms_small-1.jpg",
		"@img/rooms/rooms_small-1.jpg",
		"@img/rooms/rooms_small-1.jpg",
		"@img/rooms/rooms_small-1.jpg"
		
	]
-
	let swiperRoomsImgBig = [
		"@img/rooms/rooms_big-1.jpg",
		"@img/rooms/rooms_big-1.jpg",
		"@img/rooms/rooms_big-1.jpg",
		"@img/rooms/rooms_big-1.jpg",
		"@img/rooms/rooms_big-1.jpg",
		"@img/rooms/rooms_big-1.jpg",
		"@img/rooms/rooms_big-1.jpg",
		"@img/rooms/rooms_big-1.jpg"
		
	]
-
	let swiperRoomsTitle = [
		"Покращений двомісний номер",
		"Покращений одномісний номер",
		"Якийсь крутезний номер",
		"Стандартний двомісний номер",
		"Стандартний одномісний номер",
		"Люкс двомісний",
		"Люкс одномісний",
		"Президентський номер"
	]
-
	let roomsLinks = [
		"twinroom.html",
		"oneroom.html",
		"twinroom.html",
		"oneroom.html",
		"twinroom.html",
		"oneroom.html",
		"twinroom.html",
		"oneroom.html"
	]
-
	let swiperRoomsText = [
		"Покращений двомісний ідеально підходить для тих, хто планує залишитися надовго. Простора та світла кімната обставлена ​​розкішними італійськими меблями та має прекрасний вид на історичну частину міста. Стильний дизайн інтер'єру та зручні ліжка зроблять Ваш відпочинок затишним та приємним",
		"Покращений крутезний номер ідеально підходить для тих, хто планує залишитися надовго. Простора та світла кімната обставлена ​​розкішними італійськими меблями та має прекрасний вид на історичну частину міста. Стильний дизайн інтер'єру та зручні ліжка зроблять Ваш відпочинок затишним та приємним",
		"Якийсь двомісний ідеально підходить для тих, хто планує залишитися надовго. Простора та світла кімната обставлена ​​розкішними італійськими меблями та має прекрасний вид на історичну частину міста. Стильний дизайн інтер'єру та зручні ліжка зроблять Ваш відпочинок затишним та приємним",
		"Стандартний двомісний ідеально підходить для тих, хто планує залишитися надовго. Простора та світла кімната обставлена ​​розкішними італійськими меблями та має прекрасний вид на історичну частину міста. Стильний дизайн інтер'єру та зручні ліжка зроблять Ваш відпочинок затишним та приємним",
		"Стандартний одномісний ідеально підходить для тих, хто планує залишитися надовго. Простора та світла кімната обставлена ​​розкішними італійськими меблями та має прекрасний вид на історичну частину міста. Стильний дизайн інтер'єру та зручні ліжка зроблять Ваш відпочинок затишним та приємним",
		"Люкс двомісний ідеально підходить для тих, хто планує залишитися надовго. Простора та світла кімната обставлена ​​розкішними італійськими меблями та має прекрасний вид на історичну частину міста. Стильний дизайн інтер'єру та зручні ліжка зроблять Ваш відпочинок затишним та приємним",
		"Люкс одномісний ідеально підходить для тих, хто планує залишитися надовго. Простора та світла кімната обставлена ​​розкішними італійськими меблями та має прекрасний вид на історичну частину міста. Стильний дизайн інтер'єру та зручні ліжка зроблять Ваш відпочинок затишним та приємним",
		"Президентський номер ідеально підходить для тих, хто планує залишитися надовго. Простора та світла кімната обставлена ​​розкішними італійськими меблями та має прекрасний вид на історичну частину міста. Стильний дизайн інтер'єру та зручні ліжка зроблять Ваш відпочинок затишним та приємним"
	];
//- ===========================================================================
//- ================================= SERVICES CARD ===========================
-
	let servicesNumber = ['01', '02', '03'];
-
	let servicesTitleFirstHidden = ['Ice', 'conference', 'Wine bar'];
-
	let servicesTitleSecondHidden = ['restaurant', 'hall', '“reserve”'];
-
	let servicesTitleOllShow = ['Ice restaurant', 'conference hall', 'Wine bar “reserve”'];
-
	let servicesText = [
		'The hotel’s exclusive infrastructure is complemented by the unique atmosphere of the Safe Restaurant. Author’s menu, extensive wine card, and live music will set you for the correct mood.',
		'The hotel’s exclusive infrastructure is complemented by the unique atmosphere of the Safe Restaurant. Author’s menu, extensive wine card, and live music will set you for the correct mood.',
		'The hotel’s exclusive infrastructure is complemented by the unique atmosphere of the Safe Restaurant. Author’s menu, extensive wine card, and live music will set you for the correct mood.'
		];
-
	let servicesImg = [
		"@img/services/restaurant/01.jpg",
		"@img//services/conference/01.jpg",
		"@img//services/bar/01.jpg"
		];
-
	let servicesBigImg = [
		"@img/services/restaurant/01_big.jpg",
		"@img//services/conference/01_big.jpg",
		"@img//services/bar/01_big.jpg"
		];
//- ===========================================================================
//- ============================ FOOTER TEXT =================================
-
	let footerText = "Reikartz hotel hotel Reikartz hotel Reikartz hotel Reikartz hotel Reikartz hotel Reikartz hotel Reikartz hotel Reikartz hotel Reikartz hotel Reikartz hotel Reikartz hotel Reikartz hotel Reikartz hotel"
//- ===========================================================================
//-============================== ROOMS ======================================
-
	let roomsTitleFirstWord = [
		"Покращений",
		"Покращений",
	]
-
	let roomsTitleSecondWord = [
		"двомісний",
		"одномісний",
	]
-
	let roomsBannerText = [
		"All room decoration was made with ecological certified and safe materials.",
		"All room decoration was made with ecological certified and safe materials.",
	]
-
	let roomsBannerImg = [
		"@img/twinroom/banner_01.jpg",
		"@img/oneroom/banner_01.jpg",
	]
-
	let roomsContentFirstImg = [
		"@img/twinroom/room_01.jpg",
		"@img/oneroom/room_01.jpg",
	]
-
	let roomsContentSecondImg = [
		"@img/twinroom/room_02.jpg",
		"@img/oneroom/room_02.jpg",
	]
-
	let roomsContentThirdImg = [
		"@img/twinroom/room_03.jpg",
		"@img/oneroom/room_03.jpg",
	]
-
	let roomsAltImg = [
		"twin__room",
		"one__room",
	]
-
	let roomsContentSecondAltImg = [
		"bathroom",
		"room",
	]
-
	let roomsContentFirstAltImg = [
		"bathroom",
		"room",
	]
-
	let roomsContentFirstText = [
		"Покращений двомісний ідеально відповідатиме потребам тих, хто планує залишитися надовго. Світлий і просторий номер обставлений м'якими італійськими меблями високої якості. Великі вікна відкривають гарний вид на історичну частину міста. Сучасний дизайн інтер'єру та зручні ліжка зроблять Ваш відпочинок затишним та приємним.",
		"Покращений одномісний ідеально відповідатиме потребам тих, хто планує залишитися надовго. Світлий і просторий номер обставлений м'якими італійськими меблями високої якості. Великі вікна відкривають гарний вид на історичну частину міста. Сучасний дизайн інтер'єру та зручні ліжка зроблять Ваш відпочинок затишним та приємним.",
	]
-
	let roomsContentSecondText = [
		"Всі номери в готелі «Банк» мають особливий шарм, який досягається завдяки поєднанню сучасного функціонального дизайну та оригінального планування 20 століття.",
		"Всі номери в готелі «Банк» мають особливий шарм, який досягається завдяки поєднанню сучасного функціонального дизайну та оригінального планування 20 століття.",
	]
-
	let roomsContentThirdText = [
		"Покращений номер складається з двох функціональних зон: вітальні з кращими італійськими меблями та ізольованої затишної спальні з великим ліжком. Тут ви знайдете місце як для роботи, так і для комфортного відпочинку. Готель пропонує найвищий комфорт і відмінне цілодобове обслуговування номерів, щоб переконатися, що час, проведений тут, буде приємним і приємним.",
		"Покращений номер складається з двох функціональних зон: вітальні з кращими італійськими меблями та ізольованої затишної спальні з великим ліжком. Тут ви знайдете місце як для роботи, так і для комфортного відпочинку. Готель пропонує найвищий комфорт і відмінне цілодобове обслуговування номерів, щоб переконатися, що час, проведений тут, буде приємним і приємним.",
	]
-
	let roomsName = [
		"Покращений двомісний",
		"Покращений одномісний",
	]
	//-================================================================================