
//- ========================== CALENDAR ====================
-
	let calendarHours = [
		'8:00',
		'9:00',
		'10:00',
		'11:00',
		'12:00',
		'13:00',
		'14:00',
		'15:00',
		'16:00',
		'17:00',
		'18:00',
		'19:00',
		'20:00',
		'21:00',
		'22:00'
	]
//- ========================== BANNER ==================================
- headerInfo = ["0123456789", "вул. Готельна 1, м. Ніжин"]
- footerInfo = ["0123456789", "вул. Готельна 1,", "м. Ніжин"]
- footerNameCat = ["about us", "new", "socials"]
- socialName = ["Facebook", "Instagram", "Twitter"]
- socialLink = ["#", "#", "#"]
- socialClass = ["_fb", "_in", "_tw"]

//- ===========================================================================
//- ========================== SWIPER ROOMS ===================================
-
	let swiperRoomsTitle = [
		"Покращений <br> двомісний номер",
		"Покращений <br> одномісний номер",
		"Якийсь <br> крутезний номер",
		"Стандартний <br> двомісний номер",
		"Стандартний <br> одномісний номер",
		"Люкс <br> двомісний",
		"Люкс <br> одномісний",
		"Президентський <br> номер"
	]
-
	let swiperRoomsText = [
		"Покращений двомісний ідеально підходить для тих, хто планує залишитися надовго. Простора та світла кімната обставлена ​​розкішними італійськими меблями та має прекрасний вид на історичну частину міста. Стильний дизайн інтер'єру та зручні ліжка зроблять Ваш відпочинок затишним та приємним",
		"Покращений крутезний номер ідеально підходить для тих, хто планує залишитися надовго. Простора та світла кімната обставлена ​​розкішними італійськими меблями та має прекрасний вид на історичну частину міста. Стильний дизайн інтер'єру та зручні ліжка зроблять Ваш відпочинок затишним та приємним",
		"Якийсь двомісний ідеально підходить для тих, хто планує залишитися надовго. Простора та світла кімната обставлена ​​розкішними італійськими меблями та має прекрасний вид на історичну частину міста. Стильний дизайн інтер'єру та зручні ліжка зроблять Ваш відпочинок затишним та приємним",
		"Стандартний двомісний ідеально підходить для тих, хто планує залишитися надовго. Простора та світла кімната обставлена ​​розкішними італійськими меблями та має прекрасний вид на історичну частину міста. Стильний дизайн інтер'єру та зручні ліжка зроблять Ваш відпочинок затишним та приємним",
		"Стандартний одномісний ідеально підходить для тих, хто планує залишитися надовго. Простора та світла кімната обставлена ​​розкішними італійськими меблями та має прекрасний вид на історичну частину міста. Стильний дизайн інтер'єру та зручні ліжка зроблять Ваш відпочинок затишним та приємним",
		"Люкс двомісний ідеально підходить для тих, хто планує залишитися надовго. Простора та світла кімната обставлена ​​розкішними італійськими меблями та має прекрасний вид на історичну частину міста. Стильний дизайн інтер'єру та зручні ліжка зроблять Ваш відпочинок затишним та приємним",
		"Люкс одномісний ідеально підходить для тих, хто планує залишитися надовго. Простора та світла кімната обставлена ​​розкішними італійськими меблями та має прекрасний вид на історичну частину міста. Стильний дизайн інтер'єру та зручні ліжка зроблять Ваш відпочинок затишним та приємним",
		"Президентський номер ідеально підходить для тих, хто планує залишитися надовго. Простора та світла кімната обставлена ​​розкішними італійськими меблями та має прекрасний вид на історичну частину міста. Стильний дизайн інтер'єру та зручні ліжка зроблять Ваш відпочинок затишним та приємним"
	];
//- ===========================================================================
//- ================================= SERVICES CARD ===========================
-
	let servicesNumber = ['01', '02', '03'];
-
	let servicesTitleFirstHidden = ['Ice', 'conference', 'Wine bar'];
-
	let servicesTitleSecondHidden = ['restaurant', 'hall', '“reserve”'];
-
	let servicesTitleOllShow = ['Ice restaurant', 'conference hall', 'Wine bar “reserve”'];
-
	let servicesText = [
		'The hotel’s exclusive infrastructure is complemented by the unique atmosphere of the Safe Restaurant. Author’s menu, extensive wine card, and live music will set you for the correct mood.',
		'The hotel’s exclusive infrastructure is complemented by the unique atmosphere of the Safe Restaurant. Author’s menu, extensive wine card, and live music will set you for the correct mood.',
		'The hotel’s exclusive infrastructure is complemented by the unique atmosphere of the Safe Restaurant. Author’s menu, extensive wine card, and live music will set you for the correct mood.'
		];
-
	let servicesImg = [
		"@img/services/restaurant/01.jpg",
		"@img//services/restaurant/02.jpg",
		"@img//services/restaurant/03.jpg"
		];
-
	let servicesBigImg = [
		"@img/services/restaurant/01_big.jpg",
		"@img//services/restaurant/02_big.jpg",
		"@img//services/restaurant/03_big.jpg"
		];
//- ===========================================================================
//- ============================ FOOTER TEXT =================================
-
	let footerText = "Reikartz hotel hotel Reikartz hotel Reikartz hotel Reikartz hotel Reikartz hotel Reikartz hotel Reikartz hotel Reikartz hotel Reikartz hotel Reikartz hotel Reikartz hotel Reikartz hotel Reikartz hotel"
//- ===========================================================================
//-============================== ROOMS ======================================
-
	let roomsTitleFirstWord = [
		"Покращений",
	]
-
	let roomsTitleSecondWord = [
		"двомісний",
	]
-
	let roomsBannerText = [
		"All room decoration was made with ecological certified and safe materials.",
	]
-
	let roomsBannerImg = [
		"@img/twinroom/banner_01.jpg",
	]
-
	let roomsBannerAlt = [
		"twin__room",
	]
	//-================================================================================