extends html/baseRestaurant
block contentRestaurant
	//- #top 
	.wrapper
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam deleniti quae qui saepe assumenda?
		include html/restaurantHeader
		include html/restaurantMain
		//- include html/footer