@font-face {
  font-family: Helvetica;
  font-display: swap;
  src: url("../fonts/HelveticaNeueCyr-Italic.woff2") format("woff2"), url("../fonts/HelveticaNeueCyr-Italic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Helvetica;
  font-display: swap;
  src: url("../fonts/HelveticaNeueCyr-Medium.woff2") format("woff2"), url("../fonts/HelveticaNeueCyr-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Helvetica;
  font-display: swap;
  src: url("../fonts/HelveticaNeueCyr-Roman.woff2") format("woff2"), url("../fonts/HelveticaNeueCyr-Roman.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Mak;
  font-display: swap;
  src: url("../fonts/Mak-SemiBoldHigh.woff2") format("woff2"), url("../fonts/Mak-SemiBoldHigh.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Miracle;
  font-display: swap;
  src: url("../fonts/Miracle_Personal_use.woff2") format("woff2"), url("../fonts/Miracle_Personal_use.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}